<!--Static navbar-->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- add header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="pull-left" alt="PlantCV" src="{{site.baseurl}}/img/plantcv_button.png">
            </a>
        </div>
        <!-- add menu items-->
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/pages/about.html">About</a></li>
                <li><a href="http://plantcv.readthedocs.io/">Documentation</a></li>
                <li><a href="/pages/data.html">Datasets</a></li>
                <li><a href="/pages/challenges/challenges.html">Image Challenge</a></li>
                <li><a href="https://github.com/danforthcenter/plantcv">Download</a></li>
            </ul>
            <!-- ADD SEARCH FORM HERE -->
            <form class="search navbar-form navbar-right" action="http://www.google.com/search" method="get" role="search" onSubmit="Gsitesearch(this)" style="width:25%">
                <div class="input-group">
                    <input name="q" type="hidden"/>
                    <input class="form-control" name="qfront" type="search" required class="searchField" placeholder="Google Site Search" maxlength="50"/>
                    <span class="input-group-btn">
                        <button type="submit" class="search-button btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>
